/* 1. Reinicio general (Reset/Normalize) */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Variables globales (Colores y fuentes) */
:root {
  --color-principal: #004ac6;
  --color-turquesa: #06b6d4;
  --color-amarillo: #fbbf24;
  --color-blanco: #f8fafc;
  --color-gris-oscuro: #1e293b;
  --fuente-base: "Poppins", sans-serif;
  --fuente-texto: "inter", sans-serif;
}

.header-global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blanco);
  margin: 0 auto;
  padding: 1rem 2rem;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.04);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  width: 70%;
}

.logo {
  font-family: var(--fuente-base);
  font-size: 2rem;
  color: var(--color-principal);
  font-weight: bold;
}

nav {
  display: flex;
  gap: 1rem;
}

.menu{
  font-family: var(--fuente-base);
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-gris-oscuro);
  text-decoration: none;
  transition: color 0.5s ease;
}

.menu:hover {
  color: var(--color-principal);
}

.menu-active{
  font-weight: 700;
  color: var(--color-principal);
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--color-principal);
}
